.App {

}

.App-header {
  background-color: #333;
  height: 75px;
  padding: 20px;
  color: white;
  margin-bottom: 75px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.react-datepicker__time-list {
  padding: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
